<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName={0};AccountKey={1};EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  <appSettings file="C:\Dev\GitHub\TwitterExperiment\TweetCollectorConsole\Secrets.config">
  </appSettings>
</configuration>